div.header {
	text-align: center;
	font-family: Corbel;
	font-style: bold;
}
div.link-box {
	color: #BBBBBB;
}
.link-box p {
	display: inline-block;
}
a.link {
	color: #555555;
	display: inline-block;
}
