div.header {
	text-align: center;
	font-family: Corbel;
	font-style: bold;
}
p.dead-link {
	color: #BBBBBB;
	display: inline-block;
	padding: 0px 15px;
}
a.link {
	color: #555555;
	display: inline-block;
	padding: 0px 15px;
}
